body    {
    margin:20px 10px 20px 10px;
    font-family: "FT88-italic", "FT88", garamond, "Times New Roman", serif;
    font-style:italic;
    color:#a39898;
    font-size:13pt;
    line-height:14pt;
    background-color: #f3efe5;
    text-align:center;
}

.container {
    display: flex;
}

.menu menu {

}

.menu li {
    display:inline;
    border: 2px solid #a39898;
    padding: 6px;
    letter-spacing:2px;
    line-height:3;
    
    text-align:center;
    margin:0;
    list-style-type:none;
}

.content {
    padding: 10px;
    text-align:center;}

img {
    object-fit:scale-down;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.image-container {
     background-color: #f3efe5;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

/*links*/
a   {
    font-family:"FT88";
    font-weight:normal;
    color:#6F6262;
}

a:hover {
    font-family:"FT88";
    font-weight:bold;
    text-decoration:underline;
    color:#564D4D;
}

@font-face {
    font-family: "FT88";
    src: url("fonts/FT88-Regular.woff2") format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: "FT88";
    src: url("fonts/FT88-Bold.woff2") format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: "FT88-italic";
    src: url("fonts/FT88-Italic.woff2") format('woff2');
    font-style: italic;
}


