body    {
    margin:20px 10px 20px 10px;
    font-family: "FT88-italic", "FT88", garamond, "Times New Roman", serif;
    font-style:italic;
    color:#a39898;
    font-size:13pt;
    line-height:14pt;
    background-color: #f3efe5;
    text-align:center;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    border-right-style:solid;
    text-align:right;
}

.content {
    width: 80%;
    padding: 10px;
    text-align:center;}

img {
    object-fit:scale-down;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.image-container {
     background-color: #f3efe5;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

/*links*/
a   {
    font-family:"FT88";
    font-weight:bold;
    color:#6F6262;
}

a:hover {
    font-family:"FT88";
    font-weight:bold;
    text-decoration:underline;
    color:#564D4D;
}

@font-face {
    font-family: "FT88";
    src: url("fonts/FT88-Regular.woff2") format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: "FT88";
    src: url("fonts/FT88-Bold.woff2") format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: "FT88-italic";
    src: url("fonts/FT88-Italic.woff2") format('woff2');
    font-style: italic;
}


