 
body    {
    margin:20px, 10px;

    @font-face
    font-family: FT88-Regular, garamond, 'Hoefler Text', Times New Roman, Times, serif;
    src: url('FT88-REGULAR.woff');
    color:#a39898;
    font-size:13pt;
    line-height:14pt;
    background-color: #f3efe5;
}

/*links*/
a   {
    font-weight:bold;
    color:#6F6262;
    
}
a:hover {
    text-decoration:underline;
    color:#564D4D;
}
